---
import { getTranslations } from "../helpers/getTranslations";
import ContactForm from "./ContactForm.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import Mail from "./icons/Mail.astro";
import Twitter from "./icons/Twitter.astro";

const { contact: contactTranslation } = getTranslations(Astro);

const {
  heading: headingTranslation,
  socialNetworks: socialNetworksTranslation,
  twitter: twitterTranslation,
  linkedIn: linkedInTranslation,
  email: emailTranslation,
  orTroughForm: orTroughFormTranslation,
} = contactTranslation;
---

<section id="contact">
  <h2>{headingTranslation}</h2>
  <p>{socialNetworksTranslation}</p>
  <div>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://twitter.com/barrazafredi"
    >
      {twitterTranslation}
      <Twitter />
    </a>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.linkedin.com/in/fredibarraza"
    >
      {linkedInTranslation}
      <LinkedIn />
    </a>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="mailto:me@fredibarraza.com"
    >
      {emailTranslation}
      <Mail />
    </a>
  </div>
  <p>{orTroughFormTranslation}</p>
  <ContactForm />
</section>

<style>
  section {
    margin: 3rem 1rem;
    scroll-margin-top: 4rem;
    text-align: center;
  }

  h2 {
    font-size: 1.5rem;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 1.8rem;
  }

  div {
    display: flex;
    justify-content: center;
    gap: 0.2rem;
    margin-top: 0.7rem;
  }

  div a {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 0.3rem 0.8rem;
    border-radius: 0.5rem;
    color: #000;
  }

  div a:hover {
    outline: 0.1rem solid #000;
  }

  p {
    margin-top: 1rem;
  }
</style>
